body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background: whitesmoke;
}

img {
  height: 80px;
}

.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #513282;
}

.heading {
  font-weight: 500;
  padding: 25px 0;
}

.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}

.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-weight: 500;
}

.navLink:hover {
  color:blue;
}

.activeNavLink {
  color: blue;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
}

.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}

.logo {
  font-size: 30px;
  font-weight: 600;
}

.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.loader {
  width: 30px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(155, 7, 7);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {to{transform: rotate(1turn)}}